@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.slideshow {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

    .slide {
        max-height: 415px;
        width: 100%;
        object-fit: cover;
        align-content: center;
        border-radius: v.$radius-large;
    }


    span {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        inset: 0;

        button {
            background: transparent;
            border: none;
            font-size: 0;

            img {
                height: 79px;
                width: 47px;
                cursor: pointer;
            }

            .arrow_left {
                transform: rotate(-180deg);
            }
        }
    }

    p {
        position: absolute;
        align-self: flex-end;
        color: v.$secondary-color;
        font-size: v.$font-size-sm;
        font-weight: v.$font-weight-medium;
        padding-left: 48%;
        margin: 0;
        padding-bottom: 28px;
    }
}