@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.slideshow {
    display: flex;
    position: relative;
    width: 100%;

    .slide {
        width: 100%;
        object-fit: cover;
        border-radius: v.$radius-large;
        height: 415px;

        @media (max-width: v.$breakpoint-mobile) {
            border-radius: v.$radius-medium;
            height: 255px;
        }
    }


    span {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        inset: 0;
        width: 100%;

        button {
            background: transparent;
            border: none;
            font-size: 0;
            padding: 0 20px;



            img {
                height: 79px;
                width: 47px;
                cursor: pointer;

                @media (max-width: v.$breakpoint-tablet) {
                    height: 47px;
                }

                @media (max-width: v.$breakpoint-mobile) {
                    width: 24px;
                    height: 24px;
                }
            }

            .arrow_left {
                transform: rotate(-180deg);
            }
        }
    }

    p {
        position: absolute;
        align-self: flex-end;
        color: v.$secondary-color;
        font-size: v.$font-size-sm;
        font-weight: v.$font-weight-medium;
        padding-left: 48%;
        margin: 0;
        padding-bottom: 28px;

        @media (max-width: v.$breakpoint-mobile) {
            display: none;
        }
    }
}