@use '../../styles/variables' as v;

.banner {
    background-image: url('/src/assets/about.png');
    background-position: center;
}

section {
    width: 80%;
    margin-bottom: 38px;
    margin-top: 16px;

    @media (max-width: v.$breakpoint-mobile) {
        margin: 0;
    }
}