@use '../../styles/variables' as v;

.tags {
    background-color: v.$secondary-color;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;

    flex-grow: 0;

    @media (max-width: v.$breakpoint-tablet) {

        overflow-x: scroll;
        scrollbar-width: none;
    }

    li {
        background-color: v.$primary-color;
        color: v.$secondary-color;
        font-weight: v.$font-weight-bold;
        font-size: v.$font-size-xs;
        padding: 3px 30px;
        border-radius: v.$radius-medium;
        align-content: center;
        text-wrap: nowrap;


        @media (max-width: v.$breakpoint-mobile) {
            font-size: v.$font-size-xs-mobile;

        }

    }

}