// ***** Couleurs *****
$primary-color : #FF6060;
$secondary-color: #FFFFFF;
$tertiary-color: #000000;
$background-light: #F6F6F6;
$background-dark: #C4C4C4;

//***** Font
$font-primary: 'Montserrat';

$font-size-xs: 14px;
$font-size-sm: 18px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-size-xl: 48px;
$font-size-xxl: 288px;

$font-size-xs-mobile: 10px;
$font-size-sm-mobile: 12px;
$font-size-md-mobile: 13px;
$font-size-lg-mobile: 14px;
$font-size-xl-mobile: 18px;
$font-size-xxl-mobile: 24px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// ***** Espacements *****
$radius-small : 5px;
$radius-medium: 10px;
$radius-large: 25px;

$margin-small : 45px;
$margin-medium: 50px;
$margin-large: 100px;

$gap : 60px;