// ***** Couleurs *****
$primary-color : rgba(255, 96, 96, 1);
$secondary-color: rgba(255, 255, 255, 1);
$tertiary-color: rgba(0, 0, 0, 1);

$background-light: rgba(246, 246, 246, 1);
$background-dark: rgba(196, 196, 196, 1);

$opacity-color: rgba(0, 0, 0, 0.6);

$shadow-color: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

//***** Font
$font-primary: 'Montserrat';

$font-size-xs: 14px;
$font-size-sm: 18px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-size-xl: 48px;
$font-size-xxl: 288px;

$font-size-xs-mobile: 10px;
$font-size-sm-mobile: 12px;
$font-size-md-mobile: 13px;
$font-size-lg-mobile: 14px;
$font-size-xl-mobile: 18px;
$font-size-xxl-mobile: 24px;
$font-size-xxxl-mobile: 99px;
$font-size-xxxxl-mobile: 140px;


$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// ***** Espacements *****
$radius-small : 5px;
$radius-medium: 10px;
$radius-large: 25px;
$radius-circle: 50%;

$margin-small : 45px;
$margin-medium: 50px;
$margin-large: 100px;

$margin-mobile-s: 20px;
$margin-mobile-sm: 27px;


$padding-16: 16px;
$padding-30: 30px;
$padding-50: 50px;
$padding-56: 56px;
$padding-66: 66px;

$gap-mobile-s: 20px;
$gap-mobile: 26px;
$gap-m: 50px;
$gap : 60px;

// ***** Breakpoint *****
$breakpoint-mobile : 577px;
$breakpoint-tablet: 769px;