@use './variables' as v;

html {
    overflow-y: scroll;
}

body {
    font-family: v.$font-primary;
    font-size: v.$font-size-sm;
    margin: 0;
}



h1 {
    color: v.$secondary-color;
    margin: 0;
    font-size: v.$font-size-xl;
    font-weight: v.$font-weight-bold;
    position: relative;

    @media (max-width: v.$breakpoint-tablet) {
        padding-left: v.$padding-16;
    }

    @media (max-width: v.$breakpoint-mobile) {
        font-size: v.$font-size-xxl-mobile;

    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style-type: none;
}

button {
    border: none;
}