@use '../../styles/variables' as v;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {

        display: flex;
        flex-direction: column;
        margin: 0 100px 50px 100px;
        flex: 1;

        @media (max-width: v.$breakpoint-tablet) {
            margin: 0 40px 30px 40px;
        }

        @media (max-width: v.$breakpoint-mobile) {
            margin: 0 20px 27px 20px;
        }
    }
}