@use '../../styles/variables' as v;

main {

    .accomodation {
        width: 100%;
        margin-bottom: v.$margin-medium ;

        .wrapper_informations {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 30px;
            width: 100%;

            .accomodation_informations {
                overflow: hidden;
                width: 100%;

                h2 {
                    color: v.$primary-color;
                    font-size: v.$font-size-lg;
                    font-weight: v.$font-weight-medium;
                    margin: 0px;
                    padding-right: 5%;

                    @media (max-width: v.$breakpoint-mobile) {
                        font-size: v.$font-size-xl-mobile;
                    }
                }

                p {
                    font-size: v.$font-size-sm;
                    font-weight: v.$font-weight-medium;

                    @media (max-width: v.$breakpoint-mobile) {
                        font-size: v.$font-size-lg-mobile;
                    }
                }
            }

            .wrapper_host {
                .host_informations {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    p {
                        color: v.$primary-color;
                        margin-right: 10px;

                        @media (max-width: v.$breakpoint-mobile) {
                            font-size: v.$font-size-sm-mobile;
                        }
                    }

                    img {
                        border-radius: v.$radius-circle;
                        width: 64px;
                        background-color: v.$background-dark;

                        @media (max-width: v.$breakpoint-mobile) {
                            width: 24px;
                        }
                    }


                }


                @media (max-width: v.$breakpoint-tablet) {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    width: 100%;
                }
            }


            @media (max-width: v.$breakpoint-tablet) {
                flex-direction: column;
            }
        }


    }
}