@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.collapse {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        width: 100%;
        margin-bottom: 0;


        input {
            position: relative;
            display: none;
            z-index: 2;
        }

        label {
            @include m.text-primary;
            border-radius: v.$radius-small;
            flex-grow: 1;
            margin: 0;
            padding: 10px 20px 8px 15px;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                width: 24px;
                height: 24px;
                color: v.$secondary-color;
                padding-left: auto;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .content {
        overflow: hidden;
        height: 0px;
        transition: height 0.3s ease-in-out;


    }

    .content p,
    .content ul {
        background-color: v.$background-light;
        margin: 0;
        border-radius: v.$radius-small;
        padding: 13px 20px 19px 20px;
    }

    .content ul {
        display: flex;
        flex-direction: column;
    }

    &.active {

        h2 label svg {
            transform: rotate(-180deg);
        }

        .content {
            height: auto;
        }

    }
}