@use '../../styles/variables' as v;

.banner {
    border-radius: 25px;
    height: 223px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: v.$shadow-color;


    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: v.$opacity-color;
        border-radius: 25px;

        @media (max-width: v.$breakpoint-mobile) {
            height: 111px;
            border-radius: v.$radius-medium;
        }
    }

    @media (max-width: v.$breakpoint-mobile) {
        height: 111px;
        border-radius: v.$radius-medium;
        box-shadow: none;
    }
}