@use '../../styles/variables' as v;

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-grow: 1;
    gap: 139px;

    p {
        color: v.$primary-color;
        font-size: v.$font-size-xxl;
        font-weight: v.$font-weight-bold;
        margin: 0;
        line-height: 1;

        @media(max-width: v.$breakpoint-tablet) {
            font-size: v.$font-size-xxxxl-mobile;
        }

        @media(max-width: v.$breakpoint-mobile) {
            font-size: v.$font-size-xxxl-mobile;
            margin: 113px 0 0 0;
        }
    }

    h2 {
        color: v.$primary-color;
        font-size: v.$font-size-lg;
        font-weight: v.$font-weight-medium;
        margin: 0;
        text-align: center;

        @media(max-width: v.$breakpoint-mobile) {
            font-size: v.$font-size-xl-mobile;
        }
    }

    a {
        font-size: v.$font-size-sm;
        font-weight: v.$font-weight-medium;
        text-decoration: underline 1px;
        cursor: pointer;
        margin: 0 0 139px 0;

        @media(max-width: v.$breakpoint-tablet) {
            font-size: v.$font-size-lg-mobile;
        }
    }

    @media(max-width: v.$breakpoint-tablet) {
        gap: 113px;
    }
}